In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
plt.style.use('ggplot')
#pd.set_option('max columns', 20)

In [2]:
df = pd.read_csv('surat_uncleaned.csv')

In [3]:
df.shape

(4525, 11)

In [5]:
df.head(20)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...","₹2,891 per sqft",₹33.8 Lac
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,"₹3,551 per sqft",₹45.4 Lac
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173 sqft,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,"₹3,800 per sqft",₹44.6 Lac
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700 sqft,New Property,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,"₹3,966 per sqft",₹47 Lac
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250 sqft,Orchid Fantasia,New Property,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,600 per sqft",₹45 Lac
5,"2 BHK Apartment for Sale in Anand Aspire, Jaha...",Super Area,1265 sqft,Unfurnished,Poss. by Dec '25,New Property,Anand Aspire,2,Multistorey Apartment for Sale in Jahangirabad...,"₹3,411 per sqft",₹43.2 Lac
6,3 BHK Villa for Sale in Dindoli Surat,Carpet Area,1404 sqft,Unfurnished,Poss. by Jun '24,New Property,East,Main Road,contraction,NaN,₹42.1 Lac
7,Office Space for Sale in Vesu Surat,Carpet Area,700 sqft,New Property,Poss. by Sep '25,7 out of 10,1,NaN,"best commercial for business ,investors ,busin...","₹3,392 per sqft",₹44.1 Lac
8,"2 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1180 sqft,Orchid Gardenia,New Property,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,751 per sqft",₹44.3 Lac
9,2 BHK Apartment for Sale in Palanpur Surat,Carpet Area,720 sqft,New Property,Poss. by Dec '25,3 out of 14,Unfurnished,East,"Irrespective of the business branch, the our g...","₹3,200 per sqft",₹40 Lac
10,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,748 sqft,New Property,Poss. by Dec '25,6 out of 13,Unfurnished,East,next to Canezaa theater near new d mart locati...,"₹3,235 per sqft",₹44 Lac
11,1 BHK House for Sale in Kim Surat,Carpet Area,480 sqft,Resale,Ready to Move,1 out of 1,Unfurnished,East,"1 BHK, Residential House is available for Sale...","₹2,315 per sqft",₹12.5 Lac
12,2 BHK Apartment for Sale in NavYug College Surat,Carpet Area,1650 sqft,Resale,Ready to Move,7 out of 10,Unfurnished,East,"Presenting an exceptional 2 BHK flat for sale,...","₹3,125 per sqft",₹50 Lac
13,2 BHK Apartment for Sale in Adajan Surat,Super Area,847 sqft,Resale,Ready to Move,1 out of 13,Furnished,East,"2 BHK, Multistorey Apartment is available for ...","₹5,903 per sqft",₹50 Lac
14,3 BHK Apartment for Sale in Dindoli Surat,Super Area,1511 sqft,New Property,Poss. by Feb '26,5 out of 13,Unfurnished,North - East,120 ft main road touch corner project only 3 ...,"₹2,368 per sqft",₹35.8 Lac
15,2 BHK Apartment for Sale in Bhatar Road Surat,Carpet Area,850 sqft,Resale,Ready to Move,4 out of 7,Furnished,South - East,Good news for those planning to own a flat in ...,NaN,₹45 Lac
16,Shop for Sale in Moti Begumwadi Surat,Carpet Area,180 sqft,Resale,Ready to Move,3 out of 3,NaN,NaN,"4056,Hari om Textile Market, Ring Road, Near R...","₹14,728 per sqft",₹26.5 Lac
17,Office Space for Sale in Nanpura Surat,Super Area,800 sqft,Resale,Ready to Move,2 out of 6,1,NaN,"Property is suitable for Lawyers, Chartered Ac...","₹5,250 per sqft",₹42 Lac
18,3 BHK Apartment for Sale in Mota Varachha Surat,Carpet Area,1000 sqft,New Property,Ready to Move,3 out of 5,Furnished,East,3bhk fully furnished flat in Mota Varachha n w...,"₹3,185 per sqft",₹43 Lac
19,1 BHK Apartment for Sale in Ramnagar Surat,Carpet Area,731 sqft,Resale,Ready to Move,2 out of 5,Unfurnished,East,gated security,"₹2,736 per sqft",₹20 Lac

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4525 non-null   object
 1   areaWithType    4525 non-null   object
 2   square_feet     4525 non-null   object
 3   transaction     4421 non-null   object
 4   status          4524 non-null   object
 5   floor           4480 non-null   object
 6   furnishing      4185 non-null   object
 7   facing          3936 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4157 non-null   object
 10  price           4525 non-null   object
dtypes: object(11)
memory usage: 389.0+ KB

In [18]:
df_describe = df.describe(include='all')
df_describe

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
count,4525,4525,4525,4421,4524,4480,4185,3936,3154,4157,4525
unique,1992,6,1399,38,138,222,78,176,2588,2134,841
top,3 BHK Apartment for Sale in Vesu Surat,Super Area,1000 sqft,Resale,Ready to Move,Resale,Unfurnished,East,Multistorey apartment is available for sale. I...,"₹6,000 per sqft",Call for Price
freq,93,2599,77,2197,3078,431,2322,1487,35,64,173

In [17]:
missing_values = df.isnull().sum()
missing_values

property_name        0
areaWithType         0
square_feet          0
transaction        104
status               1
floor               45
furnishing         340
facing             589
description       1371
price_per_sqft     368
price                0
dtype: int64

In [20]:
duplicates = df.duplicated().sum()
duplicates

109

In [10]:
missing_values, duplicates

(property_name        0
 areaWithType         0
 square_feet          0
 transaction        104
 status               1
 floor               45
 furnishing         340
 facing             589
 description       1371
 price_per_sqft     368
 price                0
 dtype: int64,
 109)

In [13]:
#We'll create a series of visualizations to explore the data, including histograms, scatter plots, and heatmaps.
#import matplotlib.pyplot as plt
#import seaborn as sns
#import numpy as np

# Set up the visualization style
#sns.set(style="whitegrid")

# Histogram of a numerical column
#plt.figure(figsize=(10, 6))
#sns.histplot(df['numerical_column'], kde=True, bins=30)
#plt.title('Distribution of Numerical Column')
#plt.xlabel('Numerical Column')
#plt.ylabel('Frequency')
#plt.show()

# Scatter plot to explore relationship between two numerical columns
#plt.figure(figsize=(10, 6))
#sns.scatterplot(data=df, x='numerical_column1', y='numerical_column2', hue='categorical_column')
#plt.title('Scatter Plot of Numerical Column1 vs Numerical Column2')
#plt.xlabel('Numerical Column1')
#plt.ylabel('Numerical Column2')
#plt.legend(title='Categorical Column')
#plt.show()

# Correlation heatmap for numerical columns
#plt.figure(figsize=(12, 8))
#corr_matrix = df.corr()
#sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
#plt.title('Correlation Heatmap')
#plt.show()

In [14]:
#The dataset contains real estate information with various columns like
#property_name, areaWithType, square_feet, transaction, status, floor, furnishing, facing, description, price_per_sqft, and price

In [22]:
# Drop the 'description' column due to excessive missing data and high variability
df_cleaned = df.drop(columns=['description'])
df_cleaned

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"₹2,891 per sqft",₹33.8 Lac
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,"₹3,551 per sqft",₹45.4 Lac
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173 sqft,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,"₹3,800 per sqft",₹44.6 Lac
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700 sqft,New Property,Ready to Move,6 out of 14,Unfurnished,East,"₹3,966 per sqft",₹47 Lac
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250 sqft,Orchid Fantasia,New Property,Unfurnished,2,2,"₹3,600 per sqft",₹45 Lac
...,...,...,...,...,...,...,...,...,...,...
4520,6 BHK Apartment for Sale in Millionaires Lifes...,Carpet Area,2000 sqft,New Property,Poss. by Dec '26,5 out of 12,Unfurnished,South - East,NaN,Call for Price
4521,"4 BHK Apartment for Sale in Savan Superia, Alt...",Super Area,3600 sqft,New Property,Poss. by Dec '25,5 out of 16,Unfurnished,South - East,NaN,Call for Price
4522,5 BHK Apartment for Sale in Roongta Green Vall...,Carpet Area,2250 sqft,New Property,Poss. by Dec '25,7 out of 13,Unfurnished,North - East,NaN,Call for Price
4523,"6 BHK Apartment for Sale in Cellestial Dreams,...",Carpet Area,3450 sqft,New Property,Ready to Move,7 out of 18,Unfurnished,North - West,NaN,Call for Price
4524,4 BHK Apartment for Sale in Roongta Green Vall...,Super Area,4500 sqft,New Property,Ready to Move,3 out of 12,Unfurnished,North,NaN,Call for Price

In [25]:
# Fill missing values with the most frequent value for categorical columns
df_cleaned['transaction'].fillna(df_cleaned['transaction'].mode()[0], inplace=True)
df_cleaned['status'].fillna(df_cleaned['status'].mode()[0], inplace=True)
df_cleaned['floor'].fillna(df_cleaned['floor'].mode()[0], inplace=True)
df_cleaned['furnishing'].fillna(df_cleaned['furnishing'].mode()[0], inplace=True)
df_cleaned['facing'].fillna(df_cleaned['facing'].mode()[0], inplace=True)

# Drop rows with missing values in 'price' or 'price_per_sqft'
df_cleaned.dropna(subset=['price', 'price_per_sqft'], inplace=True)

/tmp/ipykernel_9282/1586735014.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['transaction'].fillna(df_cleaned['transaction'].mode()[0], inplace=True)
/tmp/ipykernel_9282/1586735014.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['status'].fillna(df_cleaned['status'].mode()[0], inplace=True)
/tmp/ipykernel_9282/1586735014.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['floor'].fillna(df_cleaned['floor'].mode()[0], inplace=True)
/tmp/ipykernel_9282/1586735014.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['furnishing'].fillna(df_cleaned['furnishing'].mode()[0], inplace=True)
/tmp/ipykernel_9282/1586735014.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['facing'].fillna(df_cleaned['facing'].mode()[0], inplace=True)

In [26]:
#We need to clean and convert square_feet and price columns into numeric values for further analysis.
import re

# Function to extract numeric values from strings
def extract_numeric(text):
    numbers = re.findall(r'\d+', text)
    return int(''.join(numbers))

# Convert 'square_feet' to numeric
df_cleaned['square_feet'] = df_cleaned['square_feet'].apply(extract_numeric)

# Convert 'price' to numeric, considering 'Lac' as 'Lakh' (100,000)
def convert_price(price):
    if 'Lac' in price:
        return float(re.findall(r'\d+\.\d+|\d+', price)[0]) * 100000
    return float(''.join(re.findall(r'\d+', price)))

df_cleaned['price'] = df_cleaned['price'].apply(convert_price)

In [27]:
import re

# Drop the 'description' column due to excessive missing data and high variability
df_cleaned = df.drop(columns=['description'])

# Fill missing values with the most frequent value for categorical columns
df_cleaned['transaction'].fillna(df_cleaned['transaction'].mode()[0], inplace=True)
df_cleaned['status'].fillna(df_cleaned['status'].mode()[0], inplace=True)
df_cleaned['floor'].fillna(df_cleaned['floor'].mode()[0], inplace=True)
df_cleaned['furnishing'].fillna(df_cleaned['furnishing'].mode()[0], inplace=True)
df_cleaned['facing'].fillna(df_cleaned['facing'].mode()[0], inplace=True)

# Drop rows with missing values in 'price' or 'price_per_sqft'
df_cleaned.dropna(subset=['price', 'price_per_sqft'], inplace=True)

# Function to extract numeric values from strings
def extract_numeric(text):
    numbers = re.findall(r'\d+', text)
    return int(''.join(numbers))

# Convert 'square_feet' to numeric
df_cleaned['square_feet'] = df_cleaned['square_feet'].apply(extract_numeric)

# Convert 'price' to numeric, considering 'Lac' as 'Lakh' (100,000)
def convert_price(price):
    if 'Lac' in price:
        return float(re.findall(r'\d+\.\d+|\d+', price)[0]) * 100000
    return float(''.join(re.findall(r'\d+', price)))

df_cleaned['price'] = df_cleaned['price'].apply(convert_price)

df_cleaned.head()

/tmp/ipykernel_9282/1393477645.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['transaction'].fillna(df_cleaned['transaction'].mode()[0], inplace=True)
/tmp/ipykernel_9282/1393477645.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['status'].fillna(df_cleaned['status'].mode()[0], inplace=True)
/tmp/ipykernel_9282/1393477645.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['floor'].fillna(df_cleaned['floor'].mode()[0], inplace=True)
/tmp/ipykernel_9282/1393477645.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['furnishing'].fillna(df_cleaned['furnishing'].mode()[0], inplace=True)
/tmp/ipykernel_9282/1393477645.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['facing'].fillna(df_cleaned['facing'].mode()[0], inplace=True)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"₹2,891 per sqft",3380000.0
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,"₹3,551 per sqft",4540000.0
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,"₹3,800 per sqft",4460000.0
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700,New Property,Ready to Move,6 out of 14,Unfurnished,East,"₹3,966 per sqft",4700000.0
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,Orchid Fantasia,New Property,Unfurnished,2,2,"₹3,600 per sqft",4500000.0

In [34]:
sns.scatterplot(x='propery_name', y='square_feet', data=df)
plt.title('Scatter plot')
plt.show()

ValueError: Could not interpret value `propery_name` for `x`. An entry with this name does not appear in `data`.