In [1]:
import pandas as pd

# Load the dataset
file_path = 'surat_uncleaned.csv'
df = pd.read_csv(file_path)

In [2]:
# Display first few rows
print(df.head())

                                       property_name areaWithType square_feet  \
0          2 BHK Apartment for Sale in Dindoli Surat  Carpet Area    644 sqft
1           2 BHK Apartment for Sale in Althan Surat   Super Area   1278 sqft
2          2 BHK Apartment for Sale in Pal Gam Surat   Super Area   1173 sqft
3     2 BHK Apartment for Sale in Jahangirabad Surat  Carpet Area    700 sqft
4  2 BHK Apartment for Sale in Orchid Fantasia, P...   Super Area   1250 sqft

       transaction            status        floor      furnishing  \
0     New Property  Poss. by Oct '24  5 out of 10     Unfurnished
1     New Property  Poss. by Jan '26  6 out of 14     Unfurnished
2           Resale     Ready to Move  5 out of 13  Semi-Furnished
3     New Property     Ready to Move  6 out of 14     Unfurnished
4  Orchid Fantasia      New Property  Unfurnished               2

        facing                                        description  \
0         West  Luxury project with basement parking, Solar ro...
1  South -West  2 And 3 BHK Luxurious Flat for Sell In New Alt...
2         East  This affordable 2 BHK flat is situated along a...
3         East  2 BHK Flat For sell IN Jahangirabad Prime Loca...
4            2  Multistorey Apartment for Sale in Palanpur, Su...

     price_per_sqft       price
0  ₹2,891 per sqft   ₹33.8 Lac
1  ₹3,551 per sqft   ₹45.4 Lac
2  ₹3,800 per sqft   ₹44.6 Lac
3  ₹3,966 per sqft     ₹47 Lac
4  ₹3,600 per sqft     ₹45 Lac

In [3]:
# Get a summary of the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4525 non-null   object
 1   areaWithType    4525 non-null   object
 2   square_feet     4525 non-null   object
 3   transaction     4421 non-null   object
 4   status          4524 non-null   object
 5   floor           4480 non-null   object
 6   furnishing      4185 non-null   object
 7   facing          3936 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4157 non-null   object
 10  price           4525 non-null   object
dtypes: object(11)
memory usage: 389.0+ KB
None

In [4]:
# Statistical summary for numerical columns
print(df.describe())

                                 property_name areaWithType square_feet  \
count                                     4525         4525        4525
unique                                    1992            6        1399
top     3 BHK Apartment for Sale in Vesu Surat   Super Area   1000 sqft
freq                                        93         2599          77

       transaction         status   floor   furnishing facing  \
count         4421           4524    4480         4185   3936
unique          38            138     222           78    176
top         Resale  Ready to Move  Resale  Unfurnished   East
freq          2197           3078     431         2322   1487

                                              description    price_per_sqft  \
count                                                3154              4157
unique                                               2588              2134
top     Multistorey apartment is available for sale. I...  ₹6,000 per sqft
freq                                                   35                64

                 price
count             4525
unique             841
top     Call for Price
freq               173

In [5]:
# Check for missing values
print(df.isnull().sum())

property_name        0
areaWithType         0
square_feet          0
transaction        104
status               1
floor               45
furnishing         340
facing             589
description       1371
price_per_sqft     368
price                0
dtype: int64

In [6]:
# Handle missing values
# Option 1: Drop rows with missing values
df = df.dropna()

In [7]:
import re

In [8]:
# Function to clean and convert to numeric
def clean_price_per_sqft(value):
    # Remove non-numeric characters and convert to float
    cleaned_value = re.sub(r'[^\d.]+', '', str(value))
    return pd.to_numeric(cleaned_value, errors='coerce')

# Apply the function to the 'price_per_sqft' column
df['price_per_sqft'] = df['price_per_sqft'].apply(clean_price_per_sqft)

# Check for any remaining non-numeric entries
print(df['price_per_sqft'].isnull().sum())

0

In [9]:
# Calculate the mean of the 'price_per_sqft' column
mean_price_per_sqft = df['price_per_sqft'].mean()

# Fill missing values with the mean
df['price_per_sqft'] = df['price_per_sqft'].fillna(mean_price_per_sqft)

# Verify the changes
print(df['price_per_sqft'].describe())

count      2674.000000
mean       5932.923336
std        7954.269456
min           4.000000
25%        3837.250000
50%        4750.000000
75%        6000.000000
max      152459.000000
Name: price_per_sqft, dtype: float64

In [10]:
# For categorical columns like 'furnishing'
df['furnishing'] = df['furnishing'].str.strip().fillna('Unfurnished')

In [11]:
# Convert 'price' and 'square_feet' to numeric
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['square_feet'] = pd.to_numeric(df['square_feet'], errors='coerce')

# Drop rows where conversion resulted in NaN
df = df.dropna(subset=['price', 'square_feet'])

In [12]:
# Extract area and type from 'areaWithType'
df[['area', 'type']] = df['areaWithType'].str.extract(r'(?P<area>.*?)(?P<type> [a-zA-Z]+)')
df = df.drop(columns=['areaWithType'])

# Strip spaces from 'area' and 'type'
df['area'] = df['area'].str.strip()
df['type'] = df['type'].str.strip()

In [13]:
# Remove duplicate rows
df = df.drop_duplicates()

In [14]:
# Convert price and square_feet to numeric, coerce errors
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['square_feet'] = pd.to_numeric(df['square_feet'], errors='coerce')

In [15]:
# Drop rows where conversion resulted in NaN
df = df.dropna(subset=['price', 'square_feet'])

In [16]:
# Strip leading/trailing spaces from string columns
df['property_name'] = df['property_name'].str.strip()
df['areaWithType'] = df['areaWithType'].str.strip()

KeyError: 'areaWithType'

In [ ]:
# Ensure consistent formatting for categorical columns
df['facing'] = df['facing'].str.capitalize()
df['status'] = df['status'].str.lower()

In [ ]:
# Extract area and type from 'areaWithType'
df[['area', 'type']] = df['areaWithType'].str.extract(r'(?P<area>.*?)(?P<type> [a-zA-Z]+)')

# Remove the original 'areaWithType' column
df = df.drop(columns=['areaWithType'])

# Calculate price per square foot if missing
df['price_per_sqft'] = df['price'] / df['square_feet']

# Convert categorical data into categorical types
df['transaction'] = df['transaction'].astype('category')
df['status'] = df['status'].astype('category')
df['furnishing'] = df['furnishing'].astype('category')
df['facing'] = df['facing'].astype('category')